@import "tailwindcss";

@layer base {
  p code {
    @apply text-lime-600;
  }
}

@theme {
  --breakpoint-xs: 445px;
}

.grid-layout {
  display: grid;
  max-width: 100vw;
  grid-template:
    'header-left header header-right' auto
    'body-left body body-right' 1fr
    'footer-left footer footer-right' 16px
    / 16px 1fr 16px;
  background-color: rgba(255, 255, 255, 0.25);
  gap: 1px;
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template:
    'header-left header header-right' auto
    'body-left body body-right' 1fr
    'footer-left footer footer-right' 16px
    / minmax(16px, 1fr) minmax(736px, 875px) minmax(16px, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-layout {
    grid-template:
    'header-left header header-right' auto
    'body-left body body-right' 1fr
    'footer-left footer footer-right' 16px
    / 16px 1fr 16px;
  }
}

@media (min-width: 1280px) {
  .grid-layout {
    grid-template:
    'header-left header header-right' auto
    'body-left body body-right' 1fr
    'footer-left footer footer-right' 16px
    / 1fr 1248px 1fr;
  }
}

.details p {
  max-width: 60ch;
}